html {
  background-color: #dbd6cf;
  color: #fff;
  line-height: 1.5rem;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  font-family: 'Bevan', sans-serif;
}

body {
  font-family: sans-serif;
  margin: .3em;
}

.nav {
  display: block;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  background-color: #713837;
  border-radius: 10px;
  padding: .6em .5em .75em;
}

.buttons a {
  text-decoration: none;
  color: #fff;
}

.buttons a:hover {
  background-color: #f33;
  color: #fff;
}

.buttons:hover {
  background-color: #f33;
}
