html{
  background-color: #dbd6cf;
  font-family: sans-serif;
  color: #fff;
  line-height: 1.5rem;
}

h1 {
  text-align: center;
  font-family: 'Bevan', cursive;
}

.nav {
  display: block;
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

li {
  display: inline-block;
  background-color: #713837;
  padding: .6em .5em .75em;
}
